.page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: block;
}

@media (min-width: 640px) {
  .container {
    display: block;
  }
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  border-radius: 1rem 1rem 0 0;
  background-color: #000;
  border-top: 1px solid #000;
}

.navigation:dark {
  background-color: #18181b;
  border-top-color: #393941;
}

.navBox {
  margin: 0 auto;
  height: 4rem;
  max-width: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.5rem;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: #e4e4e7;
}

/*

.primary {
  @apply dark:text-[#fff9d9] text-[#0099FF];
}

.secondary {
  @apply dark:text-[#99A8B2] dark:hover:text-[#FEFBF6] text-[#3C4048] hover:text-[#F2DF3A];
}

.linkName {
  @apply text-xs text-[#000] dark:text-[#FEFBF6];
}

*/
